[Unit]
Description=mqtt_server
After=network.target

[Service]
ExecStart=/home/brugia/.pyenv/shims/python3 /home/brugia/Progetto/Gruppo10-Sistemi-operativi2-/mqttBot/mqtt_server.py
Restart=always
User=brugia

[Install]
WantedBy=multi-user.target
